<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre-Home</title>
    <!-- link para tener disponibles iconos de fontawesome, asi podre usar esa libreria-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- css-->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>


    <header>
        <div class="top-list">

            <div class="logo">
                <!-- logo y fotos: "img/logo o nombre de imagen"-->
                <img src="images/logo-mercado-liebre.svg" alt="Logo mercado liebre">
            </div>

            <div class="search-bar">
                <!-- barra, dentro  lo que busco-->
                <input type="text" placeholder=" Buscar productos, marcas">
            </div>

            <button>
                <i class="fas fa-search"></i>
            </button>

            <p class="quota"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas sin tarjeta de crédito</p>

        </div>

        <nav>
            <ul class="buttom-list">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <!--dos enlaces a las vistas de register y login-->
                <li><a href="/register">Creá tu cuenta </a><i class="far fa-address-card"></i></li>
                <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                <br>

            </ul>
        </nav>
        <div class="burger-menu">
            <!--Menu hamburguesa copiado del pdf-->
            <i class="fas fa-bars"></i>
        </div>

    </header>


    <main class="home">
        <div class="banner"><img src="images/img-home-banner.jpg" alt="Imagen con ofertas" width="100%"></div>

        <h2 class="historial">Basado en tu última visita</h2>

        <section>
            <h3 class="section-title">
                Ofertas
            </h3>
            <article class="card">
                <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="Cafetera Moulinex">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$6.770</p>
                        <p>40% OFF</p>
                    </div>
                    <h5 class="product-name">Cafetera Moulinex</h5>
                </div>
            </article>
        </section>
        <section>
            <h3 class="section-title">
                Ofertas
            </h3>
            <article class="card">
                <img src="images/img-macbook-pro-2019.jpg" width="100%" alt="Macbook">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$230.800</p>
                        <p>20% OFF</p>
                    </div>
                    <h5 class="product-name">MacBook Pro 2019</h5>
                </div>
            </article>
        </section>
        <section>
            <h3 class="section-title">
                Ofertas
            </h3>
            <article class="card">
                <img src="images/img-samsung-galaxy-s10.jpg" width="100%" alt="Tel-Samsung">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$70.500</p>
                        <p>10% OFF</p>
                    </div>
                    <h5 class="product-name">Teléfono Samsung</h5>
                </div>
            </article>
        </section>
        <section>
            <h3 class="section-title">
                Ofertas
            </h3>
            <article class="card">
                <img src="images/img-tv-samsung-smart.jpg" width="100%" alt="TV-Samsung">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$23.200</p>
                        <p>5% OFF</p>
                    </div>
                    <h5 class="product-name">Samsung 43'</h5>
                </div>
            </article>
        </section>
    </main>


    <footer>
        <article class="footer-article">
            <!--icono de la tarjeta de credito-->
            <i class="fas fa-credit-card"></i>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article class="footer-article">
            <!--icono del regalo-->
            <i class="fas fa-gift"></i>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </article>
        <article class="footer-article">
            <!--icono de seguridad-->
            <i class="fas fa-user-shield"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </article>
        <p class="copy">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>


</body>

</html>