/* FOOTER */

footer {
    padding-top: 40px;
 }
 
 
  
 footer article {
    margin-bottom: 40px;
 }
 
 
 footer article.footer-article {
    text-align: center;
 }
 
 footer article.footer-article i{
    color: var(--light_blue);
    font-size: 32px;
    margin-bottom: 15px;
 } 
 
 footer article.footer-article h5 {
  font-size: var(--discounts-descriptions);
    font-size: 16px;
 }
 
 footer article.footer-article p {
    font-size: var(--paragraph);
   /* font-size: 12px; */
    width: 77%;
    margin: 0 auto;
 }
 
 footer .copy {
    color: var(--dark-grey);
    font-size: var(--paragraph);
    margin: 0 0 10px 15px ;
    /* top  rigth  bottom  left */
 }
 