/*banner*/

.home .banner { /*display none, para sacar el elemento*/
    display: none;
 }
 
 /*Main*/
 
 main.home {
     margin: 0 auto;
     width: 90%;
 }
 
 /*section*/
 
 .home .section-title {
     margin: 25px 0;
     text-align: center;
 }
 
 .home .card {
     background-color: white;
     margin-bottom: 10px;
 }
 
 .home .card .card-content {
     border-top: solid var(--light-grey);
     padding: 15px;
 }
 
 .home .card .card-content .icon-truck {
     border: 1px solid var(--green);
     border-radius: 50%;
     width: fit-content;
     width: -moz-fit-content;
     padding: 5px;
 }
 
 .home .card .card-content .icon-truck i {
     color: var(--green);
     font-size: 16px;
 }
/*  
 .home .card .card-content .product-info p:nth-child(1){
 
 }
  */
 .home .card .card-content .product-info p:nth-child(1){
     color: var(--green);
     font-size: 14px;
 }
 
 .home .card .card-content .product-name {
     color: var(--dark-grey);
     font-size: 15px;
     
 }
 /*media queries, desktop*/
 
 @media (min-width: 992px) {
     .home .banner { 
         display: block;
        } 
 }