@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* muestra de definir variables en css, root es raiz en ingles*/
/* tambien se pueden guardar tipografias y otras cosas  */

/* colors */
:root {
   /* Colors */
   --yellow: #EAC926;
   --blue: #03264C;
   --light_blue: #1259c3;
   --dark-grey: #666;
   --light-grey: #ebebeb;
   --green: #39b54a;
   /* Font */
   --font-roboto: "Roboto", sans-serif;
   /* Font sizes */
   --paragraph : 12px;
   --title: 24px;
   --prices: 18px;
   --discounts-descriptions: 16px;
}
/* GENERAL */
* {
   margin: 0;
   padding: 0;
}

a {
   color: black;
   text-decoration: none;
}
body {
   font-family: var(--font-roboto); /* llama a variable de fuente  */
}

li {
list-style: none;
}

/* HEADER */
header {
   background-color: var(--yellow);
   font-size: var(--paragraph);
   padding-bottom: 10px;
}

header .burger-menu {
   background-color: var(--light_blue);
   color: white;
   width: 15px;
   padding: 7px;
   border-radius: 5px;
   text-align: center;
   margin: 10px auto 0;
   /* top right bottom left */
   /* top right-left bottom */
}

header .logo {
   width: 130px;
   margin-left: 25px;
   padding-top: 25px;
   margin-bottom: 10px;
}

.search {
   border: 1px solid var(--dark-grey);
   background-color: white;
   padding:5px 25px;
   border-radius: 5px;
   color:grey;
}
/* search bar */

header .search-bar {
   display: inline-block;
   margin-left: 15px;
}

/* Quota */
header .quota {
   text-align: center;
   margin: 10px 0 20px
}
/* top list, OSEA BARRA DE NAVEGACION */

header nav ul#top-list {
   margin-bottom: 15px;
}
/* END HEADER */

/* FOOTER */

footer {
   padding-top: 40px;
}


 
footer article {
   margin-bottom: 40px;
}


footer article.footer-article {
   text-align: center;
}

footer article.footer-article i{
   color: var(--light_blue);
   font-size: 32px;
   margin-bottom: 15px;
} 

footer article.footer-article h5 {
 font-size: var(--discounts-descriptions);
   font-size: 16px;
}

footer article.footer-article p {
   font-size: var(--paragraph);
  /* font-size: 12px; */
   width: 77%;
   margin: 0 auto;
}

footer .copy {
   color: var(--dark-grey);
   font-size: var(--paragraph);
   margin: 0 0 10px 15px ;
   /* top  rigth  bottom  left */
}
